@charset "ISO-8859-1";

@font-face{
    font-family: LobsterFont;
    src: url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
}

#header-title{
    color: #5c5c3d;    
    font-family: LobsterFont, cursive;
    text-align: center;
    text-shadow: 
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}



#header-photos img{
    width:33%;
}

#header a{
    text-decoration: none;
}

#header{
    border-style: solid;
    border-color:  #5c5c3d;
    background-color: white;
    width: 100%;
}

body{
    background-color: wheat;
    font-family: cursive;
}

section#main{
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 40px;
    margin: 40px;
}

#quiz-button{
    border-radius: 15px;
    border-style: solid;
    border-color:  #999966;
    background-color:  #999966;
    margin: 0% 40% 0% 40%;
}
#quiz-button a{
	font-family: LobsterFont, cursive;
	color:white;
	  text-decoration: none;
	  font-size:30px
}

.zoom{
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  #dream-dog img{
      width: 33%;
  }

  input[type=submit] {

        background: wheat;
        
        color: #5c5c3d;
        
        border-style: outset;
        
        border-color: #5c5c3d;
        
        height: 50px;
        
        width: 125px;
        
        font: bold 15px cursive;
        
        text-shadow:none;
        }

        div#question{
            border-color: #999966;
            border-style: solid;
            padding: 25px;
            margin: 5% 30% 5% 30%;
            border-radius: 15px;
            background-color:#5c5c3d;
        }

        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: block;
            color: white;
            padding-bottom: 30px;
            display: block;
            margin-left: 10%;
            margin-right: 10%;
            text-align-last: start;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #ddd;
            border-radius: 100%;
            background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 12px;
            height: 12px;
            background: #F87DA9;
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        #question h2{
            color: white;
        }
        
        #footer{
        text: #5c5c3d;
        text-align: center;
        }
        
     
    
    
    